<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Insta Spam Unfollower</title>
</head>
<body>
	<h1>InstaUnSpam</h1>
	<h3>YOu g0t h@ack3D!!!</h3>
	<h4>Now you're following thousands of spam accounts and you want to delete them all at once right???</h4>
	<p>Unfortunately Instagram doesn't let you unfollow more than 50 people per hour... so we've created a tool that will do it for you!</p>
	<a href="https://instagram.com/oauth/authorize/?client_id=6e4453d0a1e84159a1b28c13d09916cb&redirect_uri=http://localhost:3000/auth&response_type=code&scope=relationships">Login & Unspam yourself!</a>
</body>
</html>